
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
	{% block head_block %}
	<title>Facial Recognition System</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
<!--===============================================================================================-->
<style>
    img {
  border-radius: 8px;
  height: auto;
  width: 800px;
}
.wrap-login-custom {
  width: 1000px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
</style>
{% endblock head_block %}
</head>
<body>
	{% block body_block %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../../static/images/bg-01.jpg');">
			<div class="wrap-login-custom  p-l-55 p-r-55 p-t-65 p-b-54">
        <div align='center' class="center container" id='color'>
          <form class="form-signin text-center blockx form-group" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal" id="h11">Edit</h1>
    
            <div class="row justify-content-center " >
              <label for="id"  id="btn-white">New Id</label>
              <input type="text" name="id" id="id" class="formx input textinput textInput form-control form-control" placeholder="Id" required="" autofocus="">
            </div><br>
    
            <div class="row justify-content-center " >
                <label for="name"  id="btn-white">New Name</label>
                <input type="text" name="name" id="name" class="formx input textinput textInput form-control form-control" placeholder="Name" required="" autofocus="">
              </div><br>
   
            <button class='text-center btn btn-light' type="submit">Finish edit</button>
          </form>
        </div>
			</div>
		</div>
	</div>
	
	{% endblock %}
	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../static/js/main.js"></script>

</body>
</html>

